body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../NCC_Control_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:0px;
    width:1126px;
    height:666px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1126px;
    height:666px;
}

.u1 {
    position:absolute;
    left:2px;
    top:325px;
    width:1122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2_container {
    position:absolute;
    left:519px;
    top:288px;
    width:72px;
    height:31px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:37px;
}

.u3 {
    position:absolute;
    left:2px;
    top:8px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u4_container {
    position:absolute;
    left:344px;
    top:95px;
    width:422px;
    height:183px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:428px;
    height:189px;
}

.u5 {
    position:absolute;
    left:2px;
    top:84px;
    width:418px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

