body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Painel___Pedidos_Propostas_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1187px;
    height:530px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1187px;
    height:530px;
}

.u1 {
    position:absolute;
    left:2px;
    top:257px;
    width:1183px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2_container {
    position:absolute;
    left:1021px;
    top:228px;
    width:166px;
    height:55px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:61px;
}

.u3 {
    position:absolute;
    left:2px;
    top:20px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u4_container {
    position:absolute;
    left:1027px;
    top:283px;
    width:160px;
    height:57px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:63px;
}

.u5 {
    position:absolute;
    left:2px;
    top:20px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u6_container {
    position:absolute;
    left:1021px;
    top:340px;
    width:166px;
    height:62px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:68px;
}

.u7 {
    position:absolute;
    left:2px;
    top:23px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u8_container {
    position:absolute;
    left:1027px;
    top:170px;
    width:160px;
    height:58px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:64px;
}

.u9 {
    position:absolute;
    left:2px;
    top:21px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u10_container {
    position:absolute;
    left:215px;
    top:170px;
    width:257px;
    height:318px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:263px;
    height:324px;
}

.u11 {
    position:absolute;
    left:2px;
    top:151px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u12_container {
    position:absolute;
    left:9px;
    top:84px;
    width:180px;
    height:40px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u13 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

